{% extends "base.html" %}

{% block content %}

    <style>
    .row{
        display: flex;
        margin-left: 3px
    }

    .label{
        width: 80px
    }

    .inputField{
        margin-left: 10px
    }

    .errors {
        margin-left: 3px;
        color: darkred;
        font-size: 12px;
    }

    </style>

    <h1>Select Model and Image</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
            <p class="label">
                Brightness:
            </p>
            <p class="inputField">
                {{ form.brightness(placeholder="0") }}
            </p>
            {% if form.brightness.errors %}
            <ul class="errors">
                {% for error in form.brightness.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="row">
            <p class="label">
                Saturation:
            </p>
            <p class="inputField">
                {{ form.saturation(placeholder="0") }}
            </p>
            {% if form.saturation.errors %}
            <ul class="errors">
                {% for error in form.saturation.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="row">
            <p class="label">
                Contrast:
            </p>
            <p class="inputField">
                {{ form.contrast(placeholder="0") }}
            </p>
            {% if form.contrast.errors %}
            <ul class="errors">
                {% for error in form.contrast.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="row">
            <p class="label">
                Hue:
            </p>
            <p class="inputField">
                {{ form.hue(placeholder="0") }}
            </p>
            {% if form.hue.errors %}
            <ul class="errors">
                {% for error in form.hue.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <h4>
            Model:
        </h4>
        <p>
            {{ form.model }}
        </p>
        <h4>
            Image:
        </h4>
        <p>
            {{ form.image }}
        </p>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}
