{% extends "base.html" %}

{% block content %}
    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        #histogramOutput {
            position: center;
            border: solid 1px #999;
            width: 554px;
            height: 256px;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E');
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     id="image"
                     src="{{ url_for('static', filename='imagenet_subset/'+image_id) }}"
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h3>Image Histogram</h3>
                <div class="row">
                    <canvas id="histogramOutput"></canvas>
                </div>
                <a class="btn btn-dark" href="/histograms" role="button">Back</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for("static", filename="histogram.js") }}" id='readImg' image_id="image"></script>

{% endblock %}




